doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Surya's Memory Game
    link(rel="stylesheet prefetch", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Coda")
    link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Permanent+Marker")
    | 
    | <!-- build:css css/styles.min.css -->
    link(rel="stylesheet", href="css/app.css")
    | 
    | <!-- endbuild -->
  body
    div Hello
  | 
  | <!-- build:js js/main.min.js -->
  script(src="js/app.js" type="text/javascript")
  | 
  | <!-- endbuild -->